openapi: 3.0.3
info:
  title: Agilent iLab Operations Cores Invoices API
  description: The iLab API enables customers to seamlessly integrate outside applications with iLab's billing and reporting modules. It leverages a RESTful application architecture with HATEOAS (Hypermedia as the Engine of Application State) and OAuth2 for secure access. The API supports integrations with institutional financial systems such as SAP, Oracle/PeopleSoft, Lawson, and Banner, as well as identity management systems and LIMS.
  version: v1
  contact:
    email: ilab-support@agilent.com
    url: https://help.ilab.agilent.com
  x-generated-from: documentation
servers:
- url: https://api.ilabsolutions.com/v1
  description: iLab API v1
security:
- BearerAuth: []
tags:
- name: Invoices
  description: Billing invoices and financial records
paths:
  /cores/{core_id}/invoices:
    get:
      operationId: listInvoices
      summary: Agilent iLab List Invoices
      description: Returns billing invoices generated by a core facility.
      tags:
      - Invoices
      parameters:
      - name: core_id
        in: path
        description: Unique identifier for the core facility.
        required: true
        schema:
          type: integer
          example: 5582
      - name: status
        in: query
        description: Filter by invoice status (draft, sent, paid, voided).
        required: false
        schema:
          type: string
          enum:
          - draft
          - sent
          - paid
          - voided
          example: sent
      responses:
        '200':
          description: A list of invoices.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesListResponse'
              examples:
                ListInvoices200Example:
                  summary: Default listInvoices 200 response
                  x-microcks-default: true
                  value:
                    invoices:
                    - id: 300789
                      period: 2026-03
                      status: sent
                      total_amount: 2500.0
                      currency: USD
                      issued_at: '2026-04-01T00:00:00Z'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    InvoicesListResponse:
      type: object
      title: Invoices List Response
      description: List of invoices for a core facility.
      properties:
        invoices:
          type: array
          items:
            $ref: '#/components/schemas/Invoice'
    Invoice:
      type: object
      title: Invoice
      description: A billing invoice from a core facility.
      properties:
        id:
          type: integer
          description: Unique identifier for the invoice.
          example: 300789
        period:
          type: string
          description: Billing period (YYYY-MM format).
          example: 2026-03
        status:
          type: string
          description: Current invoice status.
          enum:
          - draft
          - sent
          - paid
          - voided
          example: sent
        total_amount:
          type: number
          format: double
          description: Total invoice amount.
          example: 2500.0
        currency:
          type: string
          description: Currency code (ISO 4217).
          example: USD
        issued_at:
          type: string
          format: date-time
          description: Timestamp when the invoice was issued.
          example: '2026-04-01T00:00:00Z'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API token obtained from iLab Administration > API Clients. Contact ilab-support@agilent.com to obtain credentials.
