openapi: 3.0.3
info:
  title: Agilent iLab Operations Cores Members API
  description: The iLab API enables customers to seamlessly integrate outside applications with iLab's billing and reporting modules. It leverages a RESTful application architecture with HATEOAS (Hypermedia as the Engine of Application State) and OAuth2 for secure access. The API supports integrations with institutional financial systems such as SAP, Oracle/PeopleSoft, Lawson, and Banner, as well as identity management systems and LIMS.
  version: v1
  contact:
    email: ilab-support@agilent.com
    url: https://help.ilab.agilent.com
  x-generated-from: documentation
servers:
- url: https://api.ilabsolutions.com/v1
  description: iLab API v1
security:
- BearerAuth: []
tags:
- name: Members
  description: Core facility membership and user management
paths:
  /cores/{core_id}/members:
    get:
      operationId: listMembers
      summary: Agilent iLab List Members
      description: Returns members of a core facility.
      tags:
      - Members
      parameters:
      - name: core_id
        in: path
        description: Unique identifier for the core facility.
        required: true
        schema:
          type: integer
          example: 5582
      responses:
        '200':
          description: A list of core facility members.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MembersListResponse'
              examples:
                ListMembers200Example:
                  summary: Default listMembers 200 response
                  x-microcks-default: true
                  value:
                    members:
                    - id: 400111
                      name: Jane Smith
                      email: jsmith@stanford.edu
                      role: pi
                      status: active
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    MembersListResponse:
      type: object
      title: Members List Response
      description: List of members for a core facility.
      properties:
        members:
          type: array
          items:
            $ref: '#/components/schemas/Member'
    Member:
      type: object
      title: Member
      description: A member of a core facility.
      properties:
        id:
          type: integer
          description: Unique identifier for the member.
          example: 400111
        name:
          type: string
          description: Full name of the member.
          example: Jane Smith
        email:
          type: string
          format: email
          description: Email address of the member.
          example: jsmith@stanford.edu
        role:
          type: string
          description: Role of the member in the core.
          enum:
          - pi
          - researcher
          - admin
          - staff
          example: pi
        status:
          type: string
          description: Membership status.
          enum:
          - active
          - inactive
          example: active
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API token obtained from iLab Administration > API Clients. Contact ilab-support@agilent.com to obtain credentials.
